.track {
    border: 1px solid black;
    height: 20px;
    box-sizing: content-box;
    margin: 10px 0;
}

.track__item {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
}
